*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: calc(10 / 1440 * 100vw);
}

body {
  padding: 10rem 0 92px;
}

.grid {
  display: flex;
}

.col-1 {
  width: calc(1 / 5 * 100%);
}

.col-2 {
  width: calc(2 / 5 * 100%);
}

.col-3 {
  width: calc(3 / 5 * 100%);
}

.col-4 {
  width: calc(4 / 5 * 100%);
}

.col-5 {
  width: calc(5 / 5 * 100%);
}

.col + .col {
  /* border-left: 1px solid black; */
}

.grid + .grid {
  margin-top: 20rem;
}

.image {
  width: 100%;
  padding: 0 calc(85 / 575 * 100%);
}
